<p>Buscador</p>
<form method="get" action="/quizes/">
    <input type="text"  name="search" value="<%= search %>" />
    <input type="submit" value="Buscar" />
</form>
<br>
<p>Preguntas disponibles</p>
<table>
<% var i; for(i=0; i < quizes.length;i++){%>
<tr>
  <td>
    <select value="<%= quizes[i].tematica %>" disabled>
      <option value="otro" >Otro</option>
      <option value="humanidades">Humanidades</option>
      <option value="ocio">Ocio</option>
      <option value="ciencia">Ciencia</option>
      <option value="tecnologia">Tecnología</option>
    </select>
  </td>
  <td><a href="/quizes/<%= quizes[i].id %>"> <%= quizes[i].pregunta %> </a></td>
  <td><a href="/quizes/<%= quizes[i].id %>/edit"> <button>editar</button></a></td>
  <td>
    <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
      <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');"> borrar </button>
    </form>
  </td>
</tr>
<%}%>
</table>
<br>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
