<p>Buscador</p>
<form method="get" action="/quizes/">
    <input type="text"  name="search" value="<%= search %>" />
    <input type="submit" value="Buscar" />
</form>
<br>
<p>Preguntas disponibles</p>
<table>
<% var i; for(i=0; i < quizes.length;i++){%>
<tr>
  <td>
      <% if(quizes[i].tematica==='otro') {%> Otro <%}%>
      <% if(quizes[i].tematica==='humanidades') {%> Humanidades <%}%>
      <% if(quizes[i].tematica==='ocio') {%> Ocio <%}%>
      <% if(quizes[i].tematica==='ciencia') {%> Ciencia <%}%>
      <% if(quizes[i].tematica==='tecnologia') {%> Tecnología <%}%>
  </td>
  <td><a href="/quizes/<%= quizes[i].id %>"> <%= quizes[i].pregunta %> </a></td>
  <%if(session.user){%>
    <td><a href="/quizes/<%= quizes[i].id %>/edit"> <button>editar</button></a></td>
    <td>
      <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
        <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');"> borrar </button>
      </form>
    </td>
  <%}%>
</tr>
<%}%>
</table>
<br>
<% if(session.user){ %>
  <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<% } %>
